<main>
  <section class="landing-page">
    <%= render "shared/landing_page" %>
  </section>
  <section class="edu-exp">
    <%= render "shared/skills" %>
    <%= render "shared/cards" %>
  </section>
  <section class="photos">
    <%= render "shared/photos_section" %>
  </section>
  <section class="footer">
  <%= render "shared/footer" %>
  </section>
</main>
